<h1>Rooms</h1>

<div class="hotel_index">
    <% @rooms.each do |room| %>
      <ul>
        <li><%= image_tag(room.image.present? ? room.image.url : "https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png") %></li>
        <li class="hotel_name"><%= room.name %></li>
        <li class="hotel_address"><%= room.address %></li>
        <li class="hotel_intro"><%= room.intro %></li>
        <li class="hotel_price">¥<%= room.price %>~</li>
        <li class="hotel_show_link"><%= link_to '詳細はこちら', new_room_reserves_path(room_id: room.id) %></li> <!--予約画面へ-->
      </ul>
    <% end %>
</div>

<br>

<%= link_to 'New Room', new_room_path %>
<%= link_to '検索', search_path %>
