<p id="notice"><%= notice %></p>

<p>Image:<%= @room.image %></p>

<p>Name:<%= @room.name %></p>

<p>Address: <%= @room.address %></p>

<p>Price: <%= @room.price %></p>

<p>Intro: <%= @room.intro %></p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
<%= link_to "予約画面へ", new_room_reserves_path(@room), class: "btn btn-primary" %> <!-- reserves#new -->

