<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <!--ログインユーザー-->
    <% if user_signed_in? %>
      <p>ログイン中: <%= current_user.email %></p>
      <%= link_to '予約一覧',  reservations_user_path(current_user.id) %> 
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %> |
      <%= link_to 'サインアップ', new_user_registration_path %>
    <% end %>
  </header>

  <body>
    <% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
